html {
	scroll-behavior: smooth;
}

:root {
	--black: rgb(20, 20, 20);
	--dark_gray: rgb(30, 30, 30);
	--gray: rgb(40, 40, 40);
	--silver: rgb(81, 81, 81);
	--platinum: rgb(230, 230, 230);
	--purple: rgb(113, 90, 255);
	--violet: rgb(90, 35, 170);
}

body {
	font-family: "Space Mono", monospace;
	background-color: var(--gray);
	display: grid;
	margin: 0px;
	width: 90vw;
}

h1 {
	color: var(--platinum);
	text-align: center;
}

h1 > .magic{
	animation: background-pan 1.5s linear infinite;
	background: linear-gradient(
		to right,
		var(--violet),
		var(--purple),
		var(--violet)
	);
	background-clip: text;
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	background-size: 200%;
	white-space: nowrap;
	background-color: white;
	width: 100%;
}

/* nav stuff */
#nav {
	height: 100vh;
	display: flex;
	align-items: center;
	position: fixed;
	z-index: 10;
}

#nav-items {
	margin-left: clamp(0rem, 20vw, 10rem);
	text-align: center;
}

#nav-items:hover > .nav-item:not(.active):hover {
	opacity: 0.7;
}

.nav-item {
	opacity: 0.35;
	color: white;
	font-size: clamp(1rem, 8vw, 4rem);
	display: block;
	text-decoration: none;
	padding: clamp(0rem, 1vw, 2rem) 0rem;
	transition: opacity 100ms ease;
}

#nav-indicators {
	opacity: 0.6;
	margin-top: -2.1vh;
	padding-left: 10rem;
	position: fixed;
	color: white;
	height: 10rem;
	width: 10rem;
	z-index: 5;
}

#nav-indicator-left {
	font-size: clamp(1rem, 8vw, 2rem);
	align-items: center;
	position: fixed;
}
#nav-indicator-right {
	font-size: clamp(1rem, 8vw, 2rem);
	align-items: center;
	position: fixed;
}

.active {
	opacity: 1;
}
.notransition {
	-webkit-transition: none !important;
	-moz-transition: none !important;
	-o-transition: none !important;
	transition: none !important;
}
/* end */

/* center area */
#canvas {
	margin-top: 0vh;
	width: 100vw;
	max-width: 100%;
	height: 295vh;
	margin-bottom: -300vh;
	z-index: 4;
}

#title {
	height: 100vh;
	width: 99vw;
}

.title-text {
	margin-top: 35vh;
	color: var(--platinum);
	font-size: 4rem;
	text-align: center;
	z-index: 1;
	position: relative;
}

#title-subtext {
	margin-top: -2.5vh;
	margin-bottom: 25vh;
}
/* end */

.text {
	color: var(--platinum);
	font-size: 1.5rem;
	align-content: center;
	text-align: center;
}

#home {
	visibility: hidden;
	position: absolute;
}

#about {
	background-color: var(--gray);
	height: 65vh;
	width: 99vw;
}

#projects {
	background-color: var(--gray);
	height: 65vh;
	width: 99vw;
}

#contact {
	background-color: var(--gray);
	height: 65vh;
	width: 99vw;
}