html {
	scroll-behavior: smooth;
}

:root {
	--black: rgb(20, 20, 20);
	--dark_gray: rgb(30, 30, 30);
	--gray: rgb(40, 40, 40);
	--silver: rgb(81, 81, 81);
	--platinum: rgb(230, 230, 230);
	--purple: rgb(113, 90, 255);
	--violet: rgb(90, 35, 170);
}

body {
	font-family: "Space Mono", monospace;
	background-color: var(--gray);
	display: grid;
	margin: 0px;
}


h1 {
	color: var(--platinum);
	text-align: center;
}

h1 > .magic{
	animation: background-pan 1.5s linear infinite;
	background: linear-gradient(
		to right,
		var(--violet),
		var(--purple),
		var(--violet)
	);
	background-clip: text;
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	background-size: 200%;
	white-space: nowrap;
	background-color: white;
	width: 100%;
}

/* nav stuff */
#nav {
	height: 100vh;
	display: flex;
	align-items: center;
	position: fixed;
	z-index: 10;
}

#nav-items {
	margin-left: clamp(4rem, 20vw, 10rem);
	text-align: center;
}

#nav-items:hover > .nav-item:hover {
	opacity: 1;
}

.nav-item {
	opacity: 0.3;
	color: white;
	font-size: clamp(2rem, 8vw, 4rem);

	display: block;
	text-decoration: none;
	padding: clamp(0.25rem, 1vw, 2rem) 0rem;
	transition: opacity 400ms ease;
}
/* end */

/* center area */
#canvas {
	margin-top: 0vh;
	width: 100vw;
	max-width: 100%;
	height: 300vh;
	margin-bottom: -300vh;

	z-index: 4;
}

#title {
	margin-top: 7.5vh;
	margin-bottom: 25vh;
}

.title-text {
	margin-top: 35vh;
	color: var(--platinum);
	font-size: 4rem;
	text-align: center;
	z-index: 1;
	position: relative;
}

#title-subtext {
	margin-top: -2.5vh;
}
/* end */

.anchor {
	display: block;
	position: relative;
	margin-top: -17.8vh;
	visibility: hidden;
}

.text {
	color: var(--platinum);
	margin-top: 33.5vh;
	font-size: 1.5rem;
}

#about_anchor {
	background-color: var(--gray);
	align-content: center;
	text-align: center;
	width: 99vw;
	height: 75vh;
}

#projects_anchor {
	background-color: var(--gray);
	width: 100%;
	height: 50vh;
}

#contact_anchor {
	background-color: var(--gray);
	width: 100%;
	height: 50vh;
}